.ba-container {
	width: 1200px;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image {
	transition: all .25s linear;
}

.image:hover,
.image:focus,
.image:active {
	box-shadow: 10px 10px 50px #000;
	opacity: .8;
}

